@font-face {
  font-family: "Ninjargon";
  src: url("https://assets.codepen.io/9367036/Ninjargon-Regular.otf");
}

@font-face {
  font-family: "Maveric";
  src: url("/assets/font/Maveric Demo.otf") format("opentype");
}

@font-face {
  font-family: "Robocop";
  src: url("/assets/font/Robocops-Demo.otf") format("opentype");
}

@font-face {
  font-family: "alerte";
  src: url("/assets/font/m12.TTF") format("truetype");
}



html {
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;        /* retire la marge par défaut qui crée un débordement */
  background-color: #020617;
 
}

.grille_01 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  height: 100%;
  gap: 16px; /* espace entre les cellules */
  padding: 16px;
  box-sizing: border-box;
}

.grille_02 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  gap: 16px; 
  box-sizing: border-box;
  grid-column: span 8 / span 8;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  width: 100%;
  height: 100%;
}

.system {
  background-color: #020617;
  border: 3px solid rgb(10, 161, 60);
}

.alert {
  background-color: #020617;
   border: 3px solid rgb(10, 161, 60);
}

.psycho {
  background-color: #020617;
  grid-column: span 2 / span 2;
  height: 100%;
  display: flex;
  justify-content: space-around;
  border: 3px solid rgb(10, 161, 60);
}

.psycho div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.psycho-title {
  font-size: 20px;
  color: rgb(10, 161, 60);
  margin-top: 8px;
  font-weight: bold;
  font-family: Maveric ;
}

.cpu {
  background-color: #020617;
   border: 3px solid rgb(10, 161, 60);
}

.objectif {
  background-color: #020617;
  overflow: hidden;
  border: 3px solid rgb(10, 161, 60);
}

.corps {
  background-color: #020617;
  grid-column: span 2 / span 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
   border: 3px solid rgb(10, 161, 60);
}



/* Chart */
.chart-container {
  width: 100%;
  height: 100%;
}

.chiffre {
  width: 10vw;
  text-align: center;

  &.alt {
    font-family: alerte ;
    font-size: 70px;
    color: rgb(10, 161, 60);
  }
}

.circle-container {
  position: relative;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family:alerte;
    color: rgb(10, 161, 60);
  }

  svg {
    transform: rotate(-90deg);
  }
}

#carte {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  
}

.btn-success {
  font-family:Maveric ;
  
}

.robocop img {
  width: 320px; 
}
.ma-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1; 
  opacity: 0.4; 
}
