@font-face {
  font-family: "Ninjargon";
  src: url("https://assets.codepen.io/9367036/Ninjargon-Regular.otf");
}


html {
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;        /* retire la marge par défaut qui crée un débordement */
  background-color: #1e293b;
}

.grille_01 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  height: 100%;
  gap: 16px; /* espace entre les cellules */
  padding: 16px;
  box-sizing: border-box;
}

.grille_02 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  gap: 16px; 
  box-sizing: border-box;
  grid-column: span 8 / span 8;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  width: 100%;
  height: 100%;
}

.system {
  background-color: #020617;
}

.alert {
  background-color: yellow;
}

.psycho {
  background-color: red;
  grid-column: span 2 / span 2;
  height: 100%;
}

.cpu {
  background-color: green;
}

.objectif {
  background-color: purple;
}

.corps {
  background-color: blue;
  grid-column: span 2 / span 2;
}



/* Chart */
.chart-container {
  width: 100%;
  height: 100%;
}

.chiffre {
  width: 10vw;
  text-align: center;

  &.alt {
    font-family: Ninjargon;
    font-size: 70px;
  }
}